<div class="mt-5">
  <div class="pt-5">
    <h3 class="mb-4">Create New Cocktail</h3>
    <%= simple_form_for(@cocktail) do |f| %>
      <div class="w-50">
          <div class="form-group">
            <%= f.input :name, class: 'form-control' %>
          </div>

        <div class="form-actions mb-5">
          <%= f.button :submit, class: "btn btn-outline-warning"%>
        </div>
      </div>
    <% end %>

    <%= link_to 'Back to cocktails', cocktails_path %>
  </div>
</div>








